@model IEnumerable<TECHNOVA.ViewModels.ItemVM>

<div class="sidebar-widget widget-slider">
    <div class="sidebar-slider normal-slider">
        @foreach (var item in Model)
        {
            <div class="product-item">
                <div class="product-title">
                    <a href="#">@item.productName</a>
                    <div class="ratting">
                        @for (int i = 0; i < 5; i++)
                        {
                            <i class="fa fa-star"></i>
                        }
                    </div>
                </div>
                <div class="product-image">
                    <a href="product-detail.html">
                        <img src="@item.image" alt="Product Image">
                    </a>
                    <div class="product-action">
                        <a href="#"><i class="fa fa-cart-plus"></i></a>
                        <a href="#"><i class="fa fa-heart"></i></a>
                        <a href="#"><i class="fa fa-search"></i></a>
                    </div>
                </div>
                <div class="product-price">
                    <h3><span>$</span>@item.price</h3>
                    <a class="btn" href=""><i class="fa fa-shopping-cart"></i>Buy Now</a>
                </div>
            </div>
        }
    </div>

    <div class="sidebar-widget brands">
        <h2 class="title">Our Suppliers</h2>
        @await Component.InvokeAsync("SupplierList")
    </div>

    <div class="sidebar-widget tag">
        <h2 class="title">Tags Cloud</h2>
        @foreach (var item in Model)
        {
            <a href="#">@item.alias</a>
        }
    </div>
</div>

<style>
    .product-item {
        display: flex;
        flex-direction: column;
        border: 1px solid #eee;
        padding: 10px;
        height: 100%;
        background-color: #fff;
    }

    .product-image img {
        width: 100%;
        height: 200px;
        object-fit: contain; /* Hoặc contain nếu muốn giữ toàn ảnh */
    }

    .product-title a {
        display: block;
        min-height: 40px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .product-price {
        margin-top: auto; /* Đẩy vùng giá xuống dưới */
    }

</style>
