@model IEnumerable<TECHNOVA.ViewModels.ItemVM>
@{
    ViewData["Title"] = "Index";
    Layout = "_ListItem";
}

    <!-- Breadcrumb Start -->
@section Breadcum {
    <div class="breadcrumb-wrap">
        <div class="container-fluid">
            <ul class="breadcrumb">
                <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Home</a></li>
                <li class="breadcrumb-item"><a asp-controller="Item" asp-action="Index">Products</a></li>
                <li class="breadcrumb-item active">Product List</li>
            </ul>
        </div>
    </div>
}
<!-- Breadcrumb End -->


@await Html.PartialAsync("ProductItem", Model)
